* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

#wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #3d3b3b;
}
.container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
}
img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  height: 120px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 32%;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10%;
  overflow: hidden;
}
.card .av {
  font-size: 60%;
}
.card img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  box-shadow: 0 0 20px #333;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.03);
  transition: 0.5s;
  filter: drop-shadow(0 0 10px red);
}

.card:hover img {
  filter: grayscale(0%);
}

.card figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
  width: 100%;
  height: 20%;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  opacity: 0;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.3s;
}

.card:hover figcaption {
  opacity: 1;
  transform: scale(1.03);
}
